<!DOCTYPE html>
<html ng-app="imgrankr">
	<head>
		<title><%- title %></title>

		<!-- Viewport mobile tag for sensible mobile support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<!-- Angular.JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>

		<!-- jQuery -->
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

		<!-- JavaScript and stylesheets from your assets folder are included here -->
		<%- assets.css() %>
		<%- assets.js() %>

	</head>

	<body>

		<!-- Modal -->
		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Create Post</h3>
			</div>
			<div ng-controller="createPost">
				<form novalidate class="simple-form">
					<div class="modal-body">
						<label>Title</label>
						<input type="text" ng-model="post.title" /><br />
						<label>Image URL</label>
						<input type="text" ng-model="post.url" /><br />
						<label>Hashtag</label>
						<input type="text" ng-model="post.hashtag" /><br />
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						<button class="btn btn-primary" ng-click="create(post)" data-dismiss="modal">Save changes</button>
					</div>
					</div>
				</form>
			</div>
		</div>

		<div class="container">

				<div class="navbar navbar-fixed-top container">
					<div class="navbar-inner">
						<div class="brand-padding"><a class="brand" href="#/"><img src="/images/title.png" /></a></div>
						

						<form class="navbar-search pull-left" ng-submit="getByHashtag(hashtag)" ng-controller="mainController">
							<input type="text" id="search-custom" ng-model="hashtag" placeholder="Search">
						</form>

						<div class="navigation-area-right">
							<ul class="navigation-links">
								<li><a href="#/second" class="icon-globe"></a></li>
								<li><a href="#myModal" data-toggle="modal" class="icon-new"></a></li>
								<li><a href="#/" class="icon-home"></a></li>
							</ul>
						</div>
					</div>
				</div>
			

			<div class="body-content">
				<div ng-view></div>
			</div>

			
		</div>
	</body>
</html>
