<!DOCTYPE html>
<html ng-app="imgrankr">
	<head>
		<title><%- title %></title>

		<!-- Viewport mobile tag for sensible mobile support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<!-- Angular.JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>

		<!-- jQuery -->
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

		<!-- JavaScript and stylesheets from your assets folder are included here -->
		<%- assets.css() %>
		<%- assets.js() %>

		

	</head>

	<body>


	<input type="checkbox" class="main-nav-check" id="main-nav-check" />
<nav class="main-nav" id="main-nav">
	<ul>
  <li><a href="#">This</a></li>
  <li><a href="#">Little</a></li>
  <li><a href="#">Little</a></li>
  <li><a href="#">Little</a></li>
  
</ul>
</nav>

<div class="page-wrap">

  
    <label for="main-nav-check" class="toggle-menu">
      toggle me
    </label>
    

    <div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<label for="main-nav-check" class="toggle-menu">
					<a class="brand" href="#/">imgrankr</a>
				</label>
				<ul class="nav">
					<li class="active"><a href="#/">Home</a></li>
					<li><a href="#/second">Second</a></li>
				</ul>

				<form class="navbar-search pull-right">
					<input type="text" class="search-query">
					<button type="submit" class="btn btn-primary">Search</button>
				</form>
			</div>
		</div>



		<div ng-view></div>
        
 
  
</div>



		



	</body>
</html>
