<!DOCTYPE html>
<html ng-app="imgrankr">
	<head>
		<title><%- title %></title>

		<!-- Viewport mobile tag for sensible mobile support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<!-- Angular.JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>

		<!-- jQuery -->
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

		<!-- JavaScript and stylesheets from your assets folder are included here -->
		<%- assets.css() %>
		<%- assets.js() %>

	</head>

	<body>
		<div class="container">

				<div class="navbar navbar-fixed-top container">
					<div class="navbar-inner">
						<div class="brand-padding"><a class="brand" href="#/"><img src="/images/title.png" /></a></div>
						

						<form class="navbar-search pull-left">
							<input type="text" id="search-custom" placeholder="Search">
						</form>

						<div class="navigation-area-right">
							<ul class="navigation-links">
								<li><a href="#/" class="icon-home"></a></li>
								<li><a href="#/second" class="icon-new"><div class="icon-new"></div></a></li>
							</ul>
						</div>
					</div>
				</div>
			

			<div ng-view></div>

			
		</div>
	</body>
</html>
