<!DOCTYPE html>
<html ng-app="imgrankr">
	<head>
		<title><%- title %></title>

		<!-- Viewport mobile tag for sensible mobile support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<!-- Angular.JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>

		<!-- jQuery -->
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

		<!-- JavaScript and stylesheets from your assets folder are included here -->
		<%- assets.css() %>
		<%- assets.js() %>

	</head>

	<body>

		<a href="#/">Main</a>
		<br />
		<a href="#/second">Second</a>

		<div ng-view></div>
	</body>
</html>
